<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single</title>
</head>
<body>

    <%- include('partials/header.html') %>

    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.title %></h2>
                <div class="autor-nome">
                    <span>Por <%= noticia.autor %></span>
                </div>
                <br/>
                <div><img src="<%= noticia.image %>" alt=""></div>
                
                <p><%- noticia.conteudo %></p>
                
            </div>
            <div class="mais-lidas">
                <h3>Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <% for(let i = 0; i < postsTop.length; i++) { %>
                        <div class="mais-lida-noticia-single">
                            <img src="<%= postsTop[i].image %>"/>
                            <div class="conteudo-noticia-single">
                                <h3><%= postsTop[i].categoria %></h3>
                                <h2><%= postsTop[i].title %></h2>
                                <p><%- postsTop[i].descricaoCurta %> ...</p>
                                <p><%- postsTop[i].views %> vizualizações</p>
                                <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>

</body>
</html>